TELEGRAM_TOKEN = "{{ constants_tg_token }}"
API_URL = "{{ constants_api_url }}"

GITHUB_ACCESS_TOKEN = "{{ constants_gh_access_token }}"
GITHUB_REPO_NAME = "{{ constants_gh_repo_name }}"
GITHUB_ACCOUNT_USERNAME = "{{ constants_gh_username  }}"
GITHUB_ACCESS_TOKEN_2 = "{{ constants_gh_access_token2 }}"
GITHUB_REPO_NAME_2 = "{{ constants_gh_repo_name2 }}"
GITHUB_ACCOUNT_USERNAME_2 = "{{ constants_gh_username2 }}"
